

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.hero {
    text-align: center;
    font-size: large;
    padding: 150px 20px;
    background:url(pics/HotelBackground.jpg) center/cover;
    color: white;
}

.btn {
    background: #e67e22;
    font-size: medium;
    padding: 6px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 10px;
}

.booking {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input,select,button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

button {
    background: #e67e22;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #cf711f;
}

.hidden {
    display: none;
}

#confirmation {
    font-size: 20px;
    color: black;
    text-align: center;
}

.picturecollage {
    display: flex;
    gap: 400px;
    margin-top: 100px;
    justify-content: center;
}

.card {
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 250%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4)
}

.card p {
    margin-left: -50px;
    margin-top: 10px;
    font-size: 16px;
}

.card:hover {
    transform: scale(1.05);
}



